{% extends 'index.html' %}

{% block content %}
    <h1>Daily Checkins for {{date}}</h1>
    {% if checkins.response.checkins['items']|length == 0 %}
      <p>No checkins for this date, try checking <a href="/history/date/{{prevDayStr}}">yesterday</a> or tomorrow</p>
    {% else %}
    <p>Here are the daily checkins:</p>
    <ul>
  
        {% for checkin in checkins.response.checkins['items'] %}
            <li>{{checkin.venue.name}} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>Go to date <input type="date" title="destination date" id="date"/></div>
{% endblock %}
{% block scripts %}
<script>
    document.getElementById('date').onchange = function() {
        var date = document.getElementById('date').value;
        window.location.href = '/history/date/' + date;
    }
</script>
{% endblock %}