{% extends 'index.html' %}

{% block content %}
    <h1>Daily Checkins for {{date}}</h1>
    {% if checkins.response.checkins['items']|length == 0 %}
      <p>No checkins for this date, try checking <a href="/history/date/{{prevDayStr}}">yesterday</a> or tomorrow</p>
    {% else %}
    <p>Here are the daily checkins:</p>
    <ul>
  
        {% for checkin in checkins.response.checkins['items'] %}
            <li>{{checkin.venue.name}} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>Go to date <input type="date" title="destination date" id="date"/></div>
    <a style="margin-top: 5em;display: block;" href="/logout">Logout</a>
{% endblock %}
{% block scripts %}
<script>
    let datePicker = document.getElementById('date');
    var today = new Date();
    var tomorrow = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 1);

    datePicker.value = '{{date}}'
    datePicker.addEventListener('change', (event) => {
        var date = document.getElementById('date').value;
        // if the date after Jan 1, 2000 and before tomorrow, run some code
        if (date != `{{date}}` && Date.parse(date) > Date.parse('2000-01-01') && Date.parse(date) <= tomorrow){
            window.location.href = '/history/date/' + date;
        } else {
            console.log(date, ' is an invalid date');
        }
    });
</script>
{% endblock %}